html {
  font-size: 87.5%;
}

body {
  font-size: 1rem;
  font-family: "Lato", Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  color: #3c4a60;
}

a {
  color: #3c4a60;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
