html {
  font-size: 110%;
}

@font-face {
  font-family: "NotoThin";
  src: url("/fonts/NotoSansCJKjp-Thin.otf");
}

body {
  font-size: 1rem;
  font-family: NotoThin, "Lato", Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  color: #3c4a60;
}
