.header {
  text-align: center;
}

.titleContainer {
  display: inline-flex;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
}

.link {
  color: #3c4a60;
  text-decoration: none;
}

.introduction {
  margin-left: 1rem;
  text-align: left;
}
