.title {
  font-size: 1.2rem;
  font-family: NotoThin;
}

.link {
  color: #3c4a60;
  text-decoration: none;
}

.link:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.description {
  margin: 1rem 0 2rem 2rem;
}
